configuration {
  modi: "drun,power-menu:rofi-power-menu";
  kb-cancel: "Escape";
  kb-element-next: "";
  kb-mode-previous: "Shift+Tab";
  kb-mode-next: "Tab";
  kb-row-tab: "";
  icon-theme: "Vimix-Doder-dark";
  show-icons: true;
  sidebar-mode: true;
}

@theme "Arc-Dark"
