---
name: Check
on:
  pull_request:
  push:
    branches: [main]
jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: gamoutatsumi-nix-config
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: --accept-flake-config
      - run: nix flake check --accept-flake-config
      - name: Check diff
        id: diff
        run: |
          git diff --name-only --exit-code
        continue-on-error: true
      - uses: suzuki-shunsuke/commit-action@75b215c45f1ded3868b7d525e0e40bcb73dc5ccc # v0.0.12
        if: steps.diff.outcome == 'failure' && github.event_name == 'pull_request'
        with:
          app_id: ${{ secrets.APP_ID }}
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
          files: |
            flake.lock
          commit_message: |-
            Update flake.lock
