---
name: Check
on:
  pull_request:
  push:
    branches: [main]
jobs:
  flake-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
      - uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never
      - uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: --accept-flake-config
      - run: nix flake check --accept-flake-config
      - name: Check diff
        id: diff
        run: |
          git diff --name-only --exit-code
        continue-on-error: true
      - uses: suzuki-shunsuke/commit-action@87b297f0ce551411b43d1880f4fb3cbc60381055 # v0.0.14
        if: steps.diff.outcome == 'failure' && github.event_name == 'pull_request'
        with:
          app_id: ${{ secrets.APP_ID }}
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
          files: |
            flake.lock
          commit_message: |-
            Update flake.lock
      - uses: natsukium/nix-diff-action@41178a23fe012bae736bbddfabf47cf5b17dfc5e # v1.0.1
        if: github.event_name == 'pull_request'
        with:
          attributes: |-
            - displayName: nixos-desktop
              attribute: nixosConfigurations.tat-nixos-desktop.config.system.build.toplevel
            - displayName: nixos-laptop
              attribute: nixosConfigurations.tat-nixos-laptop.config.system.build.toplevel
